#AddContact.AddContact {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  backdrop-filter: blur(45px); 
  box-shadow: 1px 1px 8px 0px rgb(0 0 0 / 50%);
  height: 100vh;
  #AddContact-main.AddContact-main {
    width: 40%;
    border: 1px solid rgb(202, 198, 198);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    margin: auto;
    border-radius: 12px;
    padding: 20px;
    .actionform {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
      align-items: center;
      i {
        padding: 10px;
        background: green;
        border-radius: 50px;
        cursor: pointer;
      }
    }
    .Add-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        padding: 15px;
        border-radius: 50%;
        border: 1px solid rgb(214, 215, 214);
        color: gray;
        font-size: 50px;
      }
    }
    form {
      padding: 10px;
    }
    input {
      padding: 10px;
      width: 100%;
      border-radius: 8px;
      background: #3a3a3a;
    border: 1px solid #5e5e5e;
    font-weight: bold;
    color: white;
    }
    button {
      padding: 10px;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 96%;
    }
  }
}


@media (max-width: 768px) {
    #AddContact.AddContact {
        #AddContact-main.AddContact-main{

            width: 100%;
        }
        padding: 20px;
    }

}
